<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
</head>
<body>
    <div class="container mt-4">
        <div>
        </div>
        <div class="toe align-items-center">
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border-rounded-3 bg-light">
                    <img src="./assets/imgs/logo.png" alt="logo" class="logo">                    
                    <div class="form-floating mb-3">
                        <input type="emai" class="form-control" id="inputEmail" placeholder="E-mail">
                        <label for="inputEmail">E-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                        <label for="inputEmail">Senha</label>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="Lembrar-se de mim"> Lembrar-se de mim
                        </label>

                    </div>
                    <button class="btn btn-lg btn-success" type="submit">
                        Entrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
