<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>SKOOB</title>
</head>
<body>    
    <header>
        <app-nav-skoob></app-nav-skoob>
    </header>
    
    <section class="row espaco">
        <div class="col">
            <app-filter-skoob></app-filter-skoob>
        </div>
        
        <div class="col-md-10">
            <app-product-list-skoob></app-product-list-skoob>
        </div>
    </section>

    <footer>
        <app-footer-skoob></app-footer-skoob>
    </footer>
</body>
</html>