<div class="my-3 mx-1">
    <input class="form-control me-2" [(ngModel)]="filtro" type="search" placeholder="Digite o nome do livro">
</div>
<div class="row ">
    <div class="col-md-3 " *ngFor="let livro of filtroDeLivro">
        <div class="card shadow-sm formatacao-card">
            <img [src]="livro.imgURL" alt="imagem do livro">
        
            <div class="card-body">
                <h1 class="card-text"> {{ livro.bookName }} </h1>
                
                
                
                <div class="d-flex flex-wrap justify-content-around align-items-center">
                    <app-avaliacao-skoob [avaliacao]="livro.rating"></app-avaliacao-skoob>
                    <abbr title="Autor"><h2 class="card-text"> {{ livro.autorName }} </h2></abbr>
                </div>
                <abbr title="Editora"><h2 class="card-text"> Editora: {{ livro.publisher }} </h2></abbr>                    
                
                <p class="card-text border-top pt-3"> {{ livro.description }} </p>
                
                <h1 class="card-text"> {{ livro.price | currency: 'BRL' }} </h1>
            </div>
            
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary mx-3">Comprar</button>
                <button type="button" class="btn btn-sm btn-secondary mx-3">Detalhes</button>
            </div>
        </div>
    </div>
</div>